<!-- adding the header.ejs file using ejs syntax-->
<%- include('partials/header') -%> 
<h1>Contact</h1>
<!-- render data send from the server using ejs syntax -->
<p><%= contactContent %></p>
<!-- adding the footer.ejs file using ejs syntax-->
<%- include('partials/footer') -%> 