<!--EJS requires a folder name views documentation at:https://github.com/mde/ejs/wiki/Using-EJS-with-Express -->
<!-- EJS documentation https://ejs.co/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>