<!--EJS requires a folder name views documentation at:https://github.com/mde/ejs/wiki/Using-EJS-with-Express -->
<!-- EJS documentation https://ejs.co/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>

<body>
    <!-- Tag for render data from the back-end -->
    <h1><%= kindOfDay %></h1>
    <form action="/" method = "POST">
        <input type="text" name="newItem" placeholder = "Write Your Task">
        <button type="submit">ADD</button>
    </form>
    <ul>
        <!-- For loop to render the newListItem that is an array in the back-end -->
       <!-- the tag <% %> is used to write some js code. -->
        <% for(var i= 0; i<newListItem.length; i++){ %>
            <li><%= newListItem[i] %></li>
        <%  } %>
    </ul>
</body>

</html>